.Pokecard {
    border: 1px solid gray;
    width: 18%;
    margin: 5% 1% 5% 1%;
    padding: 2% 1% 2% 1%;
    border-radius: 3%;
}

.Pokecard img {
    transition: all ease 500ms;
}

.Pokecard img:hover {
    transform: scale(1.25);
    opacity: 0.7;
}